@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20.7px;
    width: 147px;
    height: 35.26px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    top: 8px;
    left: 16px;
}

#error_img{
    
    width: 478px;
    height: 316px;
}

p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: #002B59;
    margin-bottom: 16px;
}

#previous_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 211px;
    height: 56px;
    background: #EE6C4D;
    border-radius: 4px;
    outline: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.0025em;
    color: #F9F9F9;
}

#errorDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}