/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: ;
    font-family: 'Lato', sans-serif;
}

.wrapper{
    
    height: 150vh;
    display: flex;
}

.sidebar{
    background-color:#003773;
    width:25%;
    padding: 3em;
}
.code{
    background-color:#003773;
    padding:2em;
    color:#f5f5f5;
    width: 40%;
    margin-top: 2em;
  }

.sidebar img{
    display: flex;
    margin: auto;
    width: 60%;
}

.side_bar_links{
    margin-top: 4em;
}

.side_bar_links a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;


}



.side_bar_links p{
    text-align: center;
    line-height: 3em;
    display: flex;
    width: 50%;
    gap: 8px;
   
}
.side_bar_links img{
  width:30%;
  
}

.side_bar_links p a:focus{
    font-weight: 900;
}
.side_bar_links:nth-child(2){
    font-weight: 900;
}
.sidebar span{
    position: absolute;
    bottom: -16em;
    display: flex;
    justify-content: center;
    
}
.sidebar span a{
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 0;

}


/* saved codes section */
.codes_wrapper{
    width: 147%;
    padding: 3em;
    
}
.code_header{
    color:#003773;
    font-weight: 900;
}