/*  fade_InLeftBig ANIMATION*/

@keyframes fade_InLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fade_InLeftBig {
  -webkit-animation-name: fade_InLeftBig;
  animation-name: fade_InLeftBig;
}
