<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="documentation.css">
    <link rel="stylesheet" href="/library.css/moov.css">
    <title>Document</title>
</head>
<body>
    <div class="contain">



<div onclick="show1()" class="moov_animated container1"> </div><br>
<button onclick="show1()" id="bounce">Bounce</button> 
<div onclick="show2()" class="moov_animated container2"> </div><br>
<button onclick="show2()" id="blink">Blink</button> 
<div onclick="show3()" class="moov_animated container3"> </div><br>
<button onclick="show3()" id="slideup">SlideUp</button> 

</div>



   
    <script src="documentation.js"></script>

</body>
</html>