@keyframes Move_InUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.Move_InUp {
  -webkit-animation-name: Move_InUp;
  animation-name: Move_InUp;
}
