{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moov Dashboard</title>
    <link rel="stylesheet" href="{% static '/moov_animations/library.css/Main_moov/moov.css' %}">
    <link rel="stylesheet" href="{% static '/moov_animations/library.css/moov.min.css' %}">

    <link rel="stylesheet" href=" {% static '/css/library.css' %} " />
    <link rel="shortcut icon" href="{% static 'images/Moov Favicon (White BG).png' %}" type="image/x-icon">
    
  </head>

 
  <body>


    <div class="wrapper">
      <div class="sidebar">
        <figure>
          <img
            src=" {% static '/images/profile_pic.png' %} "
            alt="Default profile picture"
          />
          {% if user.is_authenticated %}
         <p id='username'>{{user.username}}</p>
          {% endif %}
          
        </figure>
        <div class="side_bar_links">
          <p> <img src="{% static 'images/bookmark-2.png' %}" class='icon' alt=""> <a href="{% url 'tryout' %} "><b>LIBRARY</b></a></p>
          <p> <img src="{% static 'images/home.png' %}"> <a href=" ">SAVED</a></p>
        </div>
        <span>
          <p id='logout'><a href="{% url 'logout' %}">LOGOUT</a></p>
        </span>
      </div>
      <div class="main_content">
        <div class="anima-actions">
          <h1 class=moov_animated BounceIn>Category</h1>
           <div class="anime_actions">
            <div class="action_type">
                <h2 class="animation_class">Bounce</h2>
                
                <button onclick="show1()">BounceIn</button>
                <button onclick="show2()">BounceInFromBottom</button>
                <button onclick = "show3()">BounceOut</button>
                <button onclick = "show4()">BounceOutFromBottom</button>
                
                
              </div>
              <div class="action_type">
                <h2 class="animation_class">Fade</h2>
                <button onclick=show5()>Fade_In</button>
                <button onclick=show6()>Fade_inDown</button>
                <button onclick=show7()>Fade_Out</button>
                <button onclick=show8()>Fade-outLeft</button>
              </div>
              <div class="action_type">
                <h2 class="animation_class">Move</h2>
                <button onclick=show9()>Move_InLeft</button>
                <button onclick=show10()>Move_InUp</button>
                <button onclick=show11()>Move_OutRight</button>
                <button onclick=show12()>Move_OutUp</button>
              </div>
              <div class="action_type">
                <h2 class="animation_class">Flip</h2>
                <button onclick=show13() >flip_in_180</button>
                <button onclick=show14()>flip_InX</button>
                <button onclick=show15()>flip_Out_180</button>
                <button onclick=show16()>flip_OutX</button>
              </div>
            </div>
           
           </div>
        </div>
        <div class="interface_section">
            <div class="section_links">
                <a href="{% url 'documentation' %}" id='bordered'> View Documentation</a>
                <a href="{% url 'download' %}" id=colored>Download Library</a>
            </div>
            <div class="display_anime">
                <div id="myDIV">
                  
                </div>
               
                <form action="savedAnimations" method='GET'>
                
                  <div class="code_display">
                    <input type="text" name="codes" id="display" class="input-field" placeholder='Animation codes will appear here' readonly> 
                  <div class="copy">
                    <img     src=" {% static '/images/Vector.png' %} " alt="copy" class='copyImg' onclick =myFunction() >
                   </div>
                  </div>
                 
                   <button type='submit' class='saveBtn'>Save For Later</button>
                </form>
            </div>
        </div>
      </div>
    </div>
   <script src="{% static 'js/library.js' %}"></script>
  </body>
</html>
