{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/passwordReset.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/d37f310ef7.js"
      crossorigin="anonymous"
    ></script>
    <title>moov-forget password</title>
  </head>
  <body>
    <main>
      <section class="forget">
        <h2>Forget password?</h2>
        <p>An email will be sent to you to reset your password</p>
        <form action="" method="post">
          <label for="Email">Email</label>
          <input
            type="email"
            name="Email"
            id=""
            placeholder="example@gmail.com"
          />
          <br />
          <div class="button">
            <input type="submit" value="Send E-mail" />
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
