<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to MOOV</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../" />
    <script src="https://use.fontawesome.com/6ed5ae667b.js"></script>
  </head>
  <body>
    <header class="p-wrapper">
      <div>
        <a href=""><img src="./assets/moov_logo.png" alt="Moov logo" /></a>
      </div>
      <div class="actionLinks">
        <p>
          <a href=""><b>Home</b></a>
        </p>
        <p><a href="">Documentation</a></p>
        <p><a href="">Contact Us</a></p>
      </div>
      <div class="action_btns">
        <button class="logIn_btn">Log In</button>
        <button class="getStartedBtn1">Get Started</button>
      </div>
      <label for="hamburger" class="hamburger_icon">
        <input type="checkbox" id="hamburger" hidden class="hamburger_input" />
        hamburger
        <div class="nav_links_slider">
          <label for="hamburger">x</label>
          <div class="actionLinks">
            <p>
              <a href=""><b>Home</b></a>
            </p>
            <p><a href="">Documentation</a></p>
            <p><a href="">Contact Us</a></p>
          </div>
          <div class="action_btns">
            <button class="logIn_btn">Log In</button>
            <button class="getStartedBtn1">Get Started</button>
          </div>
        </div>
      </label>
    </header>
    <main>
      <section>
        <div class="heroSection">
          <div class="heroSection_bg">
            <img src="./assets/hero-bg.png" alt="hero_bg" />
          </div>
          <h1>
            Moov; making animation <br />
            simple and easy to use
          </h1>
          <p>
            Moov is a platform with the toolset that allows you to create, edit,
            test, and display <br />
            animations, Create personalised libraries and be your own animation
            champion.
          </p>
          <button class="getStartedBtn2">Get Started</button>
        </div>
      </section>
      <h3 class="featuredAnimationsText p-wrapper">Featured animations</h3>
      <div class="featuredAnimations"></div>
      <section class="infoSection p-wrapper">
        <h2 class="subHeading">Here’s what you can achieve with Moov</h2>
        <div class="firstRow">
          <div class="textSection">
            <h3>
              Easy to use animations <br />
              Built for you
            </h3>
            <p>
              Explore a large pool of ready-to-use animations <br />
              and create amazing, fun animations for your <br />
              brand and project.
            </p>
            <button class="getStartedBtn3">Get Started</button>
          </div>
          <div class="imgSection">
            <img src="./assets/Background - Section 1 (1).png" />
          </div>
        </div>
        <div class="secondRow">
          <div class="imgSection2">
            <img src="./assets/Background - Section 2 (1).png" />
          </div>
          <div class="textSection2">
            <h3>
              Test & tweak <br />
              animations on-the-go
            </h3>
            <p>
              Moov works on any device, with all its features <br />
              intact. which enables users work on their <br />
              animations using their mobile devices. Do more <br />
              work in less time and on the go.
            </p>
            <button class="discoverAnimationsBtn">Discover Animations</button>
          </div>
        </div>
        <div class="thirdRow">
          <div class="textSection3">
            <h3>
              Create personalized <br />
              libraries
            </h3>
            <p>
              With Moov, you can create a personalized library <br />
              that allows you explore, like, save & download your <br />
              animations
            </p>
            <button class="signUpBtn">Sign Up</button>
          </div>
          <div class="imgSection3">
            <img src="./assets/Background - Section 3 (1).png" alt="" />
          </div>
        </div>
      </section>
      <section class="p-wrapper">
        <h3 class="someText">
          Used by designers and developers from 135,000+ companies worldwide
        </h3>
        <div class="testimonials">
          <div class="container">
            <div>
              <img src="./assets/charles.png" alt="" />
              <p class="container_title">Charles N</p>
            </div>
            <p>
              Moov had a great beginner advantage. I was a bit worried about
              getting the right codes, but it wasn’t a problem at all. I love
              using Moov when i need to get things right and save time
            </p>
          </div>
          <div class="container">
            <div>
              <img src="./assets/tosin.png" alt="" />
              <p class="container_title">Tosin O</p>
            </div>
            <p>
              A huge advantage for a newbie like me was Moov. The necessary
              codes were easy to obtain, contrary to my first concerns, which
              were unfounded.
            </p>
          </div>
          <div class="container">
            <div>
              <img src="./assets/tao.png" alt="" />
              <p class="container_title">Taofiqah O</p>
            </div>
            <p>
              I enjoy using Moov when I need to get things right the first time
              and save time.
            </p>
          </div>
        </div>
        <div class="subTestimonial">
          <h2>
            Join the success stories. <br />
            Boost your creativity game with Moov
          </h2>
          <button class="getStartedBtn4">Get Started</button>
        </div>
        <div class="moreDetails">
          <div class="moreDetailsText">
            <h3>Need more details?</h3>
            <p>
              View and interact with our documentation <br />
              before giving Moov a try
            </p>
            <button class="documentationBtn">View Documentation</button>
          </div>
          <div class="moreDetailsImg">
            <img src="./assets/need-more-spheres.png" alt="sphere" />
          </div>
        </div>
      </section>
    </main>
    <footer class="p-wrapper">
      <div class="footer_top_section flex">
        <div class="footer_left_section">
          <div class="footer_logo">
            <img src="./assets/moov.svg" alt="moov_logo" />
          </div>
          <div class="social_icons flex">
            <div>
              <img src="./assets/facebook.svg" alt="facebook" />
            </div>
            <div>
              <img src="./assets/instagram.svg" alt="instagram" />
            </div>
            <div>
              <img src="./assets/youtube.svg" alt="youtube" />
            </div>
            <div>
              <img src="./assets/dribbble.svg" alt="" />
            </div>
            <div>
              <img src="./assets/people.svg" alt="people" />
            </div>
          </div>
        </div>
        <div class="footer_right_section flex">
          <div><a href="#">Contact Us</a></div>
          <div>
            <a href="#">Documentation</a>
            <a href="#">Tutorial Videos</a>
          </div>
          <div>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditions</a>
          </div>
        </div>
      </div>
      <div class="footer_bottom_section">
        <p>Copyright &copy; 2022 Design Zuri team. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
