{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Sign Up</title>
    <script
      src="https://kit.fontawesome.com/6680184395.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <main class="wrapper">
      <section class="register">
        <div class="logo mobile">
          <img src="{% static 'images/Vector.png' %}" />
          <img src="{% static 'images/Vector (1).png' %}" />
          <img src="{% static 'images/Vector (2).png' %}" />
          <img src="{% static 'images/Vector (3).png' %}" />
        </div>
        <header>
          <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
          <img
            src="{% static 'images/Tube_Short_Laying_1__R 3.png' %}"
            class="desktop"
          />
        </header>
        <main class="registration-form">
          <h2>Get started with Moov</h2>
          <p>Create a free account today</p>
          <form action="" method="post">
            {% csrf_token %}
            <div class="name">
              <label for="Name">Name</label><br />
              <input
                type="text"
                name="Name"
                id="name"
                placeholder="Jane Joe"
                required
              />
            </div>
            <div class="email">
              <label for="Email">Email</label><br />
              <input
                type="email"
                name="Email"
                id="email"
                placeholder="example@gmail.com"
                required
              />
            </div>
            <div class="password">
              <label for="Password">Password</label><br />
              <input
                type="password"
                name="Password"
                id="password"
                placeholder="password"
                required
              />
            </div>
            <div class="mobile">
              <p>Already have an account? <a href="#">Login</a></p>
            </div>
            <div class="alt-sign-in">
              <p>Or sign in with:</p>
              <div class="other-options">
                <a href="#"
                  ><img src="{% static 'images/Google - jpeg.png' %}"
                /></a>
                <a href="#"
                  ><img src="{% static 'images/XMLID_26_.png' %}"
                /></a>
                <a href="#"
                  ><img src="{% static 'images/Facebook - jpeg.png' %}"
                /></a>
              </div>
            </div>
            <div class="privacy">
              <input
                type="checkbox"
                name="privacy-policy"
                id="privacy-policy"
                required
              />
              <label for="privacy-policy"
                >By creating a free account, you agree to the privacy policy and
                terms of moov.</label
              >
            </div>
            <br />
            <div class="subscription">
              <input
                type="checkbox"
                name="subscribtion"
                id="subscribtion"
                required
              />
              <label for="subscribtion"
                >Would you like to subscribe to our weekly newsletter and
                receive updates delivered straight to your inbox?</label
              >
            </div>
            <br />
            <input type="submit" value="Create Account" />
            <img
              src="{% static 'images/Tube_Short_Laying_1__R 4.png' %}"
              class="desktop"
            />
          </form>
        </main>
      </section>
      <section class="sign-in desktop">
        <h3>Already have an account?</h3>
        <p>
          To continue using Moov, please sign in with your personal information
        </p>
        <a href="{% url 'accounts:login'%}">Sign In</a>
      </section>
    </main>
  </body>
</html>
