{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/success-page.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/Moov Favicon (White BG).png' %}"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/6680184395.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/d37f310ef7.js"
      crossorigin="anonymous"
    ></script>
    <title>moov-success</title>
  </head>
  <body>
    <main>
      <section class="success">
        <a href="{% url 'home' %}" iid
          ><i class="fa-solid fa-arrow-left">Go back to Homepage</i></a
        >
        <img src="{% static 'images/success-icon.svg' %}" alt="success" />
        <h2>Hurray!</h2>
        <p>Your account has been created successfully</p>
        <a href="{% url 'tryout' %}" rel="noopener noreferrer" class="bottom">
          <button>Go to Dashboard</button>
        </a>
        
      </section>
    </main>
    <script>
      alert('switch to desktop mode for a better user experience')
    </script>
  </body>
</html>
