{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content=" Moov is a platform with the toolset that allows you to create, edit,
    test, and display animations, Create personalised libraries and be
    your own animation champion."
    />
    <title>Welcome to MOOV</title>

    <link
      rel="shortcut icon"
      href="{% static 'images/Moov Favicon (White BG).png' %}"
      type="image/x-icon"
    />
    <link rel="canonical" href="{% url 'home' %}" />
    <link rel="stylesheet" href=" {% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/6ed5ae667b.js"></script>
  </head>
  <body>
    <header class="p-wrapper">
      <div>
        <a href=""
          ><img
            src="{% static 'images/assets/moov_logo.png' %}"
            alt="Moov logo"
        /></a>
      </div>
      <div class="actionLinks">
        <p>
          <a href="{% url 'home' %}"><b>Home</b></a>
        </p>
        <p><a href="{% url 'documentation'%}">Documentation</a></p>
        <p><a href="{% url 'contact' %}">Contact Us</a></p>
      </div>
      <div class="action_btns">
        {% if user.is_authenticated %}
        <a href="{% url 'tryout' %}">
          <button class="getStartedBtn1">Go to Dashboard</button></a
        >
        <a href="{% url 'logout' %}">
          <button class="logIn_btn">Logout</button></a
        >
        {% else %}
        <a href="{% url 'login' %}">
          <button class="logIn_btn">Log In</button></a
        >
        <a href="{% url 'register' %}">
          <button class="getStartedBtn1">Get Started</button></a
        >
        {% endif %}
      </div>
      <label class="hamburger_icon">
        <input type="checkbox" id="hamburger" hidden class="hamburger_input" />
        <div class="nav_links_slider">
          <label for="hamburger"
            ><img src="{% static 'images/assets/icons8-close.svg' %}" alt="" />
          </label>
          <a href="{% url 'home' %}"
            ><p><b>Home</b></p></a
          >
          <p>Documentation</p>
          <p>Contact Us</p>
          <button class="logIn_btn">Log In</button>
          <button class="getStartedBtn1">Get Started</button>
        </div>
        <label for="hamburger" class="hamburger_icon_bars">
          <div class="hamburger_icon_bar"></div>
          <div class="hamburger_icon_bar"></div>
          <div class="hamburger_icon_bar"></div>
        </label>
      </label>
    </header>
    <main>
      <section>
        <div class="heroSection">
          <div class="heroSection_bg">
            <img
              src="{% static 'images/assets/hero-bg.png' %}"
              alt="hero_bg"
              class="bounce"
            />
          </div>
          <h1>
            <span class="flip_In_180">Moov</span>; making animation simple and
            easy to use.
          </h1>
          <p>
            Moov is a platform with the toolset that allows you to create, edit,
            test, and display animations, Create personalised libraries and be
            your own animation champion.
          </p>
          <a href="{% url 'register' %}">
            <button class="getStartedBtn2">Get Started</button></a
          >
        </div>
      </section>
      <h3 class="featuredAnimationsText p-wrapper">Featured animations</h3>
      <div class="featuredAnimations p-wrapper">
        <div class="move_up">
          <div class="move_up_img featuredAnimationsBox">
            <img
              src="{% static 'images/assets/featured_moov.png' %}"
              alt="move up"
            />
          </div>
          <div class="alignBtnRight">
            <button class="featuredAnimationsBtn">Move Up</button>
          </div>
        </div>
        <div class="move_down">
          <div class="move_down">
            <div class="move_down_img featuredAnimationsBox">
              <img
                src="{% static 'images/assets/featured_moov.png' %}"
                alt="move down"
              />
            </div>
            <div class="alignBtnRight">
              <button class="featuredAnimationsBtn">Move Down</button>
            </div>
          </div>
        </div>
        <div class="move_right">
          <div class="move_right_img featuredAnimationsBox">
            <img
              src="{% static 'images/assets/featured_moov.png' %}"
              alt="moce right"
            />
          </div>
          <div class="alignBtnRight">
            <button class="featuredAnimationsBtn">Move Right</button>
          </div>
        </div>
        <div class="move_left">
          <div class="move_left_img featuredAnimationsBox">
            <img
              src="{% static 'images/assets/featured_moov.png' %}"
              alt="move left"
            />
          </div>
          <div class="alignBtnRight">
            <button class="featuredAnimationsBtn">Move Left</button>
          </div>
        </div>
        <div class="blink">
          <div class="blink_img featuredAnimationsBox">
            <img
              src="{% static 'images/assets/featured_moov.png' %}"
              alt="blink"
            />
          </div>
          <div class="alignBtnRight">
            <button class="featuredAnimationsBtn">Blink</button>
          </div>
        </div>
        <div class="bounce">
          <div class="bounce_img featuredAnimationsBox">
            <img
              src="{% static 'images/assets/featured_moov.png' %}"
              alt="bounce"
            />
          </div>
          <div class="alignBtnRight">
            <button class="featuredAnimationsBtn">Bounce</button>
          </div>
        </div>
        <div class="fade">
          <div class="fade_img featuredAnimationsBox">
            <img
              src=".{% static 'images/assets/featured_moov.png' %}"
              alt="fade"
            />
          </div>
          <div class="alignBtnRight">
            <button class="featuredAnimationsBtn">Fade</button>
          </div>
        </div>
      </div>
      <section class="infoSection p-wrapper">
        <h2 class="subHeading">Here’s what you can achieve with Moov</h2>
        <div class="firstRow">
          <div class="textSection">
            <h3>Easy to use animations Built for you</h3>
            <p>
              Explore a large pool of ready-to-use animations and create
              amazing, fun animations for your brand and project.
            </p>
            {% if user.is_authenticated %}
            <a href="{% url 'register' %}">
              <button class="getStartedBtn3">View Collections</button></a
            >
            {% else %}

            <a href="{% url 'register' %}">
              <button class="getStartedBtn3">Get Started</button></a
            >
            {% endif %}
          </div>
          <div class="imgSection">
            <img
              src="{% static 'images/assets/Background - Section 1 (1).png' %}"
            />
          </div>
        </div>
        <div class="secondRow">
          <div class="imgSection2">
            <img
              src="{% static 'images/assets/Background - Section 2 (1).png' %}"
            />
          </div>
          <div class="textSection2">
            <h3>
              Test & tweak <br />
              animations on-the-go
            </h3>
            <p>
              Moov works on any device, with all its features intact. which
              enables users work on their animations using their mobile devices.
              Do more work in less time and on the go.
            </p>
            <a href="{% url 'tryout' %}">
              <button class="discoverAnimationsBtn">
                Discover Animations
              </button></a
            >
          </div>
        </div>
        <div class="thirdRow">
          <div class="textSection3">
            <h3>
              Create personalized <br />
              libraries
            </h3>
            <p>
              With Moov, you can create a personalized library <br />
              that allows you explore, like, save & download your <br />
              animations
            </p>
            {% if user.is_unauthenticated %}
            <a href="{% url 'register' %}"
              ><button class="signUpBtn">Sign Up</button></a
            >
            {% else %}
            <a href="{% url 'tryout' %}"
              ><button class="signUpBtn">View</button></a
            >
            {% endif %}
          </div>
          <div class="imgSection3">
            <img
              src="{% static 'images/assets/Background - Section 3 (1).png' %}"
              alt=""
            />
          </div>
        </div>
      </section>
      <section class="p-wrapper">
        <h3 class="someText">
          Used by designers and developers from 135,000+ companies worldwide
        </h3>
        <div class="testimonials">
          <div class="container">
            <div>
              <img src="{% static 'images/assets/charles.png' %}" alt="" />
              <p class="container_title">Charles N</p>
            </div>
            <p>
              Moov had a great beginner advantage. I was a bit worried about
              getting the right codes, but it wasn’t a problem at all. I love
              using Moov when i need to get things right and save time
            </p>
          </div>
          <div class="container">
            <div>
              <img src="{% static 'images/assets/tosin.png' %}" alt="" />
              <p class="container_title">Tosin O</p>
            </div>
            <p>
              A huge advantage for a newbie like me was Moov. The necessary
              codes were easy to obtain, contrary to my first concerns, which
              were unfounded.
            </p>
          </div>
          <div class="container">
            <div>
              <img src="{% static 'images/assets/tao.png' %}" alt="" />
              <p class="container_title">Taofiqah O</p>
            </div>
            <p>
              I enjoy using Moov when I need to get things right the first time
              and save time.
            </p>
          </div>
        </div>
        <div class="subTestimonial">
          <h2>
            Join the success stories. <br />
            Boost your creativity game with Moov
          </h2>
          <button class="getStartedBtn4">Get Started</button>
        </div>
        <div class="moreDetails">
          <div class="moreDetailsText">
            <h3>Need more details?</h3>
            <p>
              View and interact with our documentation <br />
              before giving Moov a try
            </p>
            <a href="{% url 'documentation'%}"
              ><button class="documentationBtn">View Documentation</button></a
            >
          </div>
          <div class="moreDetailsImg">
            <img
              src="{% static 'images/assets/need-more-spheres.png' %}"
              alt="sphere"
            />
          </div>
        </div>
      </section>
    </main>
    <footer class="p-wrapper">
      <div class="footer_top_section flex">
        <div class="footer_left_section">
          <div class="footer_logo">
            <img src="{% static 'images/assets/moov.svg' %}" alt="moov_logo" />
          </div>
          <div class="social_icons flex">
            <div>
              <img
                src="{% static 'images/assets/facebook.svg' %}"
                alt="facebook"
              />
            </div>
            <div>
              <img
                src="{% static 'images/assets/instagram.svg' %}"
                alt="instagram"
              />
            </div>
            <div>
              <img
                src="{% static 'images/assets/youtube.svg' %}"
                alt="youtube"
              />
            </div>
            <div>
              <img
                src="{% static 'images/assets/dribbble.svg' %}"
                alt="dribble"
              />
            </div>
            <div>
              <img src="{% static 'images/assets/people.svg' %}" alt="people" />
            </div>
          </div>
        </div>
        <div class="footer_right_section flex">
          <div><a href="#">Contact Us</a></div>
          <div>
            <a href="{% url 'documentation'%}">Documentation</a>
            <a href="#">Tutorial Videos</a>
          </div>
          <div>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
            <a href="{% url  't&c' %}">Terms and Conditions</a>
          </div>
        </div>
      </div>
      <div class="footer_bottom_section">
        <p>Copyright &copy; 2022 Design Zuri team. All rights reserved.</p>
      </div>
    </footer>
  </body>
  <script>
    const animations = [
      "Move_OutUp",
      "Move_OutDown",
      "Move_OutRight",
      "Move_OutLeft",
      "blink",
      "bounce",
      "fade_Out",
    ];
    const btns = document.querySelectorAll(".featuredAnimationsBtn");
    const boxes = document.querySelectorAll(".featuredAnimationsBox > img");
    btns.forEach((btn, index) => {
      btn.addEventListener("click", () => {
        const animation = animations[index],
          box = boxes[index];

        box.classList.toggle(animation);
        box.classList.toggle("moov_animated");
        setTimeout(() => {
          box.classList.toggle("moov_animated");
          box.classList.toggle(animation);
        }, 2000);
      });
    });
  </script>
</html>
