{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href=" {% static '/css/libraryDocumentation.css' %} "
    />
  </head>
  <body>
    <header>
      <div class="header">
        <div class="logo"><img src="" alt="moov_logo" /></div>
        <div class="header-links">
          <div>
            <a href="">Home</a>
          </div>
          <div class="header-link2"><a href="">FAQ</a></div>
          <div><a href="">Contact Us</a></div>
        </div>

        <div class="btn">
          <div class="btn_1">
            <a href=""><button class="btn1">View Documentation</button></a>
          </div>
          <div>
            <a href=""><button class="btn2">Go To Library</button></a>
          </div>
        </div>
      </div>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="#">Home</a></li>
          <li><a class="menu__item" href="#">FAQ</a></li>
          <li><a class="menu__item" href="#">Contact Us</a></li>
          <li><a class="menu__item" href="#">View Documentation</a></li>
          <li><a class="menu__item" href="#">Go to Library</a></li>
        </ul>
      </div>
    </header>

    <main>
      <section>
        <h3>Documentation</h3>
        <div>
          <p class="text_content">
            Moov is an open source library that allows beginners to perform
            basic web animation using everyday language, the Moov library allows
            users to add animations to websites.
          </p>
        </div>
        <div>
          <p class="content_heading">Installation and Usage</p>
        </div>
        <div>
          <p class="text_content1">Download from <a href="">here</a></p>
        </div>
        <div>
          <div>
            <p class="text_content2">Import it into your file:</p>
          </div>
          <div class="content_example">
            <p class="text_content3">import <span>‘moov.css';</span></p>
          </div>
        </div>
        <div>
          <p class="text_content2">
            If you are using an HTML structure you can also add to As
          </p>
          <div class="content_example">
            <p class="text_content4">
              <
              <span> link </span><br /><br />
              <span>rel</span>="stylesheet" <br /><br />
              <span>href</span>="[download-path]/moov.css" <br /><br />
              />
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
