{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy policy</title>
    <link rel="stylesheet" href="{% static '/css/privacy policy.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{% static 'images/Moov Favicon (White BG).png' %}" type="image/x-icon">
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/260157bf35.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="navbar">
        <nav>
          <img
            class="img-logo"
            src="{% static '/images/MOOV.png' %}"
            alt="moov logo"
          />
        </nav>

        <div class="logo-menu-icon">
          <i class="fa-solid fa-bars"></i>
        </div>

        <nav class="nav-links">
          <a class="home" href="{% url 'home' %}">Home</a>
          <a {% url 'documentation' %}>Documentation</a>
          <a>Contact Us</a>
        </nav>
        <nav class="nav-links">
          <button class="log">Log In</button>
          <button class="start">Get Started</button>
        </nav>
      </div>

      <h1>Privacy policy</h1>
      <p class="date">last updated on August 03, 2022</p>

      <h2>Introduction</h2>

      <p>
        Moov Inc., (herein referred to as "Company" or "we, "us", or "our")
        respect your privacy and are committed to protecting the privacy of our
        website visitors, customers, business partners and end users, through
        our compliance with this policy.
      </p>

      <p>
        This policy describes the types of information we may collect from you
        or that you may provide when you visit the website www.moov.com (our
        "Website") or otherwise access our product pages, mobile or web
        applications, or other digital products that link to or reference this
        Privacy Policy (collectively with the Website, the "Services") and our
        practices for collecting, using, maintaining, protecting, and disclosing
        that information.
      </p>

      <p>
        We reserve the right to change this Privacy Policy at any time. We will
        notify you of any changes to this Privacy Policy by posting a new
        Privacy Policy to this page, and/or by sending notice to the primary
        email address specified in your account. You are responsible for
        ensuring we have an up-to-date active and deliverable email address for
        you, and for periodically visiting our Website and this privacy policy
        to check for any changes. Changes to this Privacy Policy are effective
        when they are posted on this page. You acknowledge that your continued
        use of our Services after we publish or send a notice about our changes
        to this Privacy Policy means that the collection, use and sharing of
        your information is subject to the updated Privacy Policy.
      </p>

      <p>This policy applies to information we collect:</p>

      <p>
        On this Website (regardless of the type of the device or other means you
        use to access) or through our Services.
      </p>

      <p>
        In email, text, and other electronic messages between you and our
        Services.
      </p>

      <p>
        Through mobile and desktop applications, plug-ins, integrations you
        download from this Website, which provide dedicated non-browser-based
        interaction between you and this Website.
      </p>

      <p>
        When you interact with our applications on third-party websites and
        services, if those applications include links to this policy.
      </p>

      <p>While offering our products and services to you.</p>

      <p>Any other sources.</p>

      <p>It does not apply to information collected by:</p>

      <p>
        Us offline or through any other means, including on any other website
        operated by Company or any third party; or
      </p>

      <p>
        Any third party, including through any application or content (including
        advertising) that may link to or be accessible from or on the Website.
      </p>

      <h3>Children Under the Age of 13</h3>

      <p>
        Our Services are not intended for children under 13 years of age (or at
        least 16 years old if you are a resident of the European Union or United
        Kingdom). No one under age 13 (or at least 16 years old if you are a
        resident of the European Union or United Kingdom) may provide any
        personal information to or on the Services. We do not knowingly collect
        personal information from children under 13 (or at least 16 years old if
        you are a resident of the European Union or United Kingdom). If you are
        under 13 (or at least 16 years old if you are a resident of the European
        Union or United Kingdom), do not use or provide any information on the
        Services or through any of its features, register on the Website, make
        any purchases through the Services, use any of the interactive or public
        comment features of the Services, or provide any information about
        yourself to us, including your name, address, telephone number, email
        address, or any screen name or user name you may use. If we learn we
        have collected or received personal information from a child under 13
        (or at least 16 years old if it is a resident of the European Union or
        United Kingdom) without verification of parental consent, we will delete
        that information. If you believe we might have any information from or
        about a child under 13 (or at least 16 years old if it is a resident of
        the European Union or United Kingdom), please contact us at
        privacy@moov.com
      </p>

      <h3>Information We Collect About You and How We Collect It</h3>

      <p>
        We collect several types of information from and about users of our
        Services, including information:
      </p>

      <p>
        by which you may be personally identified, including name, e-mail
        address, telephone number, industry information, website or domains
        associated with you, geographic information, or any other information
        the Services collects that is defined as personal or personally
        identifiable information under an applicable law or any other identifier
        by which you may be contacted online or offline (personal information);
      </p>

      <p>
        that is about you but individually does not identify you, such as
        company name and role;
      </p>

      <p>
        that you provide by our business partners including our customers,
        suppliers, and vendors for administration of our business relationship;
        in connection usage of our products and services, such as data relating
        to performance and configuration of our products and services, our
        customers’ and end user's consumption of and interaction of such
        products and services;
      </p>

      <p>
        that is submitted or uploaded by our customers and their end-users (we
        process this customer content on behalf of the customer. Our privacy
        practices will be governed by the contract that we have in place with
        our customers and this Privacy Policy will not apply to any personal
        information contained in such customer content,);
      </p>

      <p>
        about your internet connection, the equipment you use to access our
        Website and usage details.
      </p>

      <p>We collect this information:</p>

      <p>Directly from you when you provide it to us.</p>

      <p>
        Automatically as you navigate through the site. Information collected
        automatically may include usage details, IP addresses, and information
        collected through cookies, web beacons, and other tracking technologies.
      </p>

      <p>
        From third parties, for example, our customers or business partners.
      </p>

      <h3>Information You Provide to Us</h3>

      <p>The information we collect on or through our Website may include:</p>

      <p>
        Information that you provide by filling in forms on our Services. This
        includes information provided at the time of registering to use our
        Services, subscribing to our service, posting material, or requesting
        further services. We may also ask you for information when you enter a
        contest or promotion sponsored by us, and when you report a problem with
        our Services
      </p>

      <p>
        If you use your social media accounts to login to the Services, we may
        receive your email and social media account information.
      </p>

      <p>
        Records and copies of your correspondence (including email addresses),
        if you contact us.
      </p>

      <p>
        Your responses to surveys that we might ask you to complete for research
        purposes.
      </p>

      <p>
        Details of transactions you carry out through our Services and of the
        fulfillment of your orders. You may be required to provide financial
        information before placing an order through our Website.
      </p>

      <h3>Your search queries on the Services.</h3>

      <p>
        You also may provide information to be published or displayed
        (hereinafter, "posted") on public areas of the Website, or transmitted
        to other users of the Website or third parties (collectively, "User
        Contributions"). Your User Contributions are posted on and transmitted
        to others at your own risk. Although we limit access to certain
        pages/you may set certain privacy settings for such information by
        logging into your account profile, please be aware that no security
        measures are perfect or impenetrable. Additionally, we cannot control
        the actions of other users of the Services with whom you may choose to
        share your User Contributions. Therefore, we cannot and do not guarantee
        that your User Contributions will not be viewed by unauthorized persons.
      </p>

      <h3>
        Information We Collect Through Automatic Data Collection Technologies
      </h3>

      <p>
        As you navigate through and interact with our Services, we may use
        automatic data collection technologies to collect certain information
        about your equipment, browsing actions, and patterns, including:
      </p>

      <p>
        Details of your visits to our Website, including traffic data, location
        data, logs, and other communication data and the resources that you
        access and use on the Website.
      </p>

      <p>
        Information about your computer and internet connection, including your
        IP address, operating system, and browser type.
      </p>

      <p>
        The information we collect automatically may include personal
        information. It helps us to improve our Services and to deliver a better
        and more personalized service, including by enabling us to:
      </p>

      <p>Estimate our audience size and usage patterns.</p>

      <p>
        Store information about your preferences, allowing us to customize our
        Website according to your individual interests.
      </p>

      <p>Speed up your searches.</p>

      <p>Recognize you when you return to our Website.</p>

      <p>Promote or tailor information or content based on your preferences.</p>

      <h3>
        The technologies we use for this automatic data collection may include:
      </h3>

      <p>
        Cookies (or browser cookies). A cookie is a small file placed on the
        hard drive of your computer. You may refuse to accept browser cookies by
        activating the appropriate setting on your browser. However, if you
        select this setting you may be unable to access certain parts of our
        Website. Unless you have adjusted your browser setting so that it will
        refuse cookies, our system will issue cookies when you direct your
        browser to our Website.
      </p>

      <p>
        Flash Cookies. Certain features of our Website may use local stored
        objects (or Flash cookies) to collect and store information about your
        preferences and navigation to, from, and on our Website. Flash cookies
        are not managed by the same browser settings as are used for browser
        cookies. For information about managing your privacy and security
        settings for Flash cookies, see Choices About How We Use and Disclose
        Your Information.
      </p>

      <p>
        Web Beacons. Pages of our the Website and our e-mails may contain small
        electronic files known as web beacons (also referred to as clear gifs,
        pixel tags, and single-pixel gifs) that permit the Company, for example,
        to count users who have visited those pages or opened an email and for
        other related website statistics (for example, recording the popularity
        of certain website content and verifying system and server integrity).
      </p>

      <p>
        We do not collect personal information automatically, but we may tie
        this information to personal information about you that we collect from
        other sources or you provide to us.
      </p>

      <p>How We Use Your Information</p>

      <p>
        We use information that we collect about you or that you provide to us,
        including any personal information:
      </p>

      <p>To present our Website and its contents to you.</p>

      <p>
        To provide you with the Services and any information, products, or
        services that you request from us.
      </p>

      <p>To fulfill any other purpose for which you provide it.</p>

      <p>
        To provide you with notices about your account/subscription, including
        expiration and renewal notices.
      </p>

      <p>
        To carry out our obligations and enforce our rights arising from any
        contracts entered into between you and us, including for billing and
        collection.
      </p>

      <p>
        To notify you about changes to our Website or any products or services
        we offer or provide.
      </p>

      <p>
        To allow you to participate in interactive features on our Services.
      </p>

      <p>
        To communicate with you and/or our clients regarding surveys, market
        research etc.
      </p>

      <p>
        To analyze, develop, enhance and improve the Company's business
        including but not limited to Company's products, services, customer
        service, operations, research and development.
      </p>

      <p>
        To comply with Company's policies and applicable laws and regulations.
      </p>

      <p>
        To better understand our customers and end-users and how they use and
        interact with websites, products and services.
      </p>

      <p>In any other way we may describe when you provide the information.</p>

      <p>For any other purpose with your consent.</p>

      <p>
        We may also use your information to contact you about our own and
        third-parties' goods and services that may be of interest to you. If you
        do not want us to use your information in this way, please check the
        relevant box located on the form on which we collect your data/adjust
        your user preferences in your account profile. For more information, see
        Choices About How We Use and Disclose Your Information.
      </p>

      <p>Disclosure of Your Information</p>

      <p>
        We may disclose aggregated information about our users, and information
        that does not identify any individual, without restriction.
      </p>

      <p>
        We may disclose personal information that we collect or you provide as
        described in this privacy policy:
      </p>

      <p>To our group companies, subsidiaries and affiliates.</p>

      <p>
        To contractors, service providers, and other third parties we use to
        support our business and who are bound by contractual obligations to
        keep personal information confidential and use it only for the purposes
        for which we disclose it to them.
      </p>

      <p>
        To a buyer or other successor in the event of a merger, divestiture,
        restructuring, reorganization, dissolution, or other sale or transfer of
        some or all of Moov’s assets, whether as a going concern or as part of
        bankruptcy, liquidation, or similar proceeding, in which personal
        information held by Moov about our users is among the assets
        transferred.
      </p>

      <p>
        We contractually require these third parties to keep personal
        information confidential and use it only for the purposes for which we
        disclose it to them. For more information, see Choices About How We Use
        and Disclose Your Information.
      </p>

      <p>
        To fulfill the purpose for which you provide it. For example, if you
        give us an email address to use the "Invite a Teammate" feature of our
        Services, we will use that email address to invite the individual to
        sign up for the Services.
      </p>

      <p>
        For any other purpose disclosed by us when you provide the information.
      </p>

      <p>your consent.</p>

      <p>We may also disclose your personal information:</p>

      <p>
        To comply with any court order, law, or legal process, including to
        respond to any government or regulatory request.
      </p>

      <p>
        To enforce or apply our terms of use and other agreements, including for
        billing and collection purposes.
      </p>

      <p>
        If we believe disclosure is necessary or appropriate to protect the
        rights, property, or safety of Moov, our customers, or others. This
        includes exchanging information with other companies and organizations
        for the purposes of fraud protection and credit risk reduction.
      </p>

      <h3>About How We Use and Disclose Your Information</h3>

      <p>
        We strive to provide you with choices regarding the personal information
        you provide to us. We have created mechanisms to provide you with the
        following control over your information:
      </p>

      <p>
        Tracking Technologies and Advertising. You can set your browser to
        refuse all or some browser cookies, or to alert you when cookies are
        being sent. To learn how you can manage your Flash cookie settings,
        visit the Flash player settings page on Adobe's website. If you disable
        or refuse cookies, please note that some parts of this site may then be
        inaccessible or not function properly.
      </p>

      <p>
        Promotional Offers from the Company. If you do not wish to have your
        personal information used by the Company to promote products or
        services, you can opt-out adjusting your user preferences in your
        account profile by checking or unchecking the relevant boxes or by
        sending us an email stating your request to privacy@moov.com. This opt
        out does not apply to information provided to the Company as a result of
        a product purchase, warranty registration, product service experience or
        other transactions.
      </p>

      <h3>Accessing and Correcting Your Information</h3>

      <p>
        You can review and change your personal information by logging into the
        Services and visiting your account profile page.
      </p>

      <p>
        You may also send us an email at privacy@moov.com to request access to,
        correct or delete any personal information that you have provided to us.
        We cannot delete all of your personal information except by also
        deleting your user account. Please note that if you delete certain
        information, the Services may not be fully functional. We may not
        accommodate a request to change information if we believe the change
        would violate any law or legal requirement or cause the information to
        be incorrect.
      </p>

      <p>
        You may also delete your information by deleting your account via your
        account settings.
      </p>

      <p>
        If you delete your User Contributions from the Website, copies of your
        User Contributions may remain viewable in cached and archived pages or
        might have been copied or stored by other Website users. Proper access
        and use of information provided on the Website, including User
        Contributions, is governed by our terms and conditions.
      </p>

      <h3>Data Security</h3>

      <p>
        We have implemented measures designed to secure your personal
        information from accidental loss and from unauthorized access, use,
        alteration, and disclosure. All information you provide to us is stored
        on our secure servers behind firewalls. Any payment transactions will be
        encrypted using SSL technology.
      </p>

      <p>
        The safety and security of your information also depends on you. Where
        we have given you (or where you have chosen) a password for access to
        certain parts of our Services, you are responsible for keeping this
        password confidential. We ask you not to share your password with
        anyone. We urge you to be careful about giving out information in public
        areas of the Services like message boards. The information you share in
        public areas may be viewed by any user of the Services.
      </p>

      <p>
        Unfortunately, the transmission of information via the internet is not
        completely secure. Although we do our best to protect your personal
        information, we cannot guarantee the security of your personal
        information transmitted to our Services. Any transmission of personal
        information is at your own risk. We are not responsible for
        circumvention of any privacy settings or security measures contained on
        the Website.
      </p>

      <h3>Changes to Our Privacy Policy</h3>

      <p>
        It is our policy to post any changes we make to our privacy policy on
        this page. If we make material changes to how we treat our users'
        personal information, we will notify you through a notice on the Website
        home page. The date the privacy policy was last revised is identified at
        the top of the page.
      </p>

      <p>
        The laws of certain jurisdictions may provide data subjects with various
        rights in connection with the processing of Personal Data, including:
      </p>

      <p>a. The right to withdraw any previously provided consent;</p>

      <p>
        b. The right to access certain information about you that we process;
      </p>

      <p>c. The right to have us correct or update any Personal Data;</p>

      <p>d. The right to have certain Personal Data erased;</p>

      <p>
        e. The right to have us temporarily block our processing of certain
        Personal Data;
      </p>

      <p>
        f. The right to have Personal Data exported into common machine-readable
        format;
      </p>

      <p>
        g. The right to object to our processing of Personal Data in cases of
        direct marketing, or when we rely on legitimate interests as our lawful
        basis to process your information; and
      </p>

      <p>
        h. The right to lodge a complaint with the appropriate data protection
        authority.
      </p>

      <p>
        Where we are deemed a data controller under the laws of certain
        jurisdictions, we will take steps to help ensure that you are able to
        exercise your rights regarding Personal Data about you in accordance
        with applicable law. To do so, you may contact us at privacy@moov.com.
        Please note these rights may be limited in certain circumstances as
        provided by applicable law. We will promptly review all such requests in
        accordance with applicable laws. Depending on where you live, you may
        also have a right to lodge a complaint with a supervisory authority or
        other regulatory agency if you believe that we have violated any of the
        rights concerning Personal Information about you. We encourage you to
        first reach out to us at privacy@moov.com, so we have an opportunity to
        address your concerns directly before you do so.
      </p>

      <h3>Contact Information</h3>

      <p>
        To ask questions or comment about this privacy policy and our privacy
        practices, contact us at: privacy@moov.com.
      </p>

      <div class="mail">
        <i class="fas fa-envelope" style="font-size: 20px"></i>
        <a href="">Send a copy to my mail</a>
      </div>

      <div class="footer">
        <div class="footer-left">
          <img
            class="moovlogo"
            src="/Animation-Library---Team-92-Repo/moov_website/static/images/MOOV.png"
            alt="moov logo"
          />

          <div class="social-icons">
            <a href="" class="fa-brands fa-facebook"></a>
            <a href="" class="fa-brands fa-instagram"></a>
            <a href="" class="fa-brands fa-youtube"></a>
            <a href="" class="fa-brands fa-square-dribbble"></a>
            <img
              src="/Animation-Library---Team-92-Repo/moov_website/static/images/icon.png"
            />
          </div>
        </div>

        <div class="footer-right">
          <ul>
            <a href="">Contact us</a>
          </ul>

          <ul>
            <a href="">Frequently Asked Questions</a>
            <a href="">Documentation</a>
          </ul>

          <ul>
            <a href="">Privacy Policy</a>
            <a href="">Terms And Conditions</a>
          </ul>
        </div>
      </div>

      <p class="copyright">
        Copyright © 2022 Design Zuri team. All rights reserved.
      </p>
    </div>
  </body>
</html>
