*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato';
    color: #003773;
    background-color: #F5F5F5;
}
.wrapper {
    height: 100vh;
}

/* header styling starts here */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.header a {
    padding: 16px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 20px;
}

.contact {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #003773;
}

.log {
    border: 1px solid #003773;
    border-radius: 4px;
    width: 145px;
    margin-right: 14px;
}

.start {
    background: #EE6C4D;
    border-radius: 4px;
    color: #F5F5F5;
    width: 212px;
}

/* header styling ends here */


/* section styling starts here */
.section {
    display: flex;
    justify-content: space-around;
    margin: 8em auto;
}

h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.imagetext {
    margin: 20px 0;
} 

p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin: 26px 0;
}

label {
    display: block;
}

fieldset {
    border: none;
}

input {
    display: block;
    padding: 17px;
    width: 613px;
    border-radius: 4px;
    border: 1px solid #003773;
    margin: 15px 0;
}

textarea {
    display: block;
    width: 609px;
    height: 231px;
    border-radius: 4px;
    margin: 15px 0;
}

button {
    background: #EE6C4D;
    border-radius: 4px;
    color: #F5F5F5;
    width: 212px;
    height: 56px;
    left: 732px;
    top: 807px;
    border: none;
}

/* section styling ends here */