* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    width: 60%; 
    margin: auto;
    scroll-behavior: smooth;
    margin-top: 11%;
    cursor: pointer;
  
  }
  
  
  
  .flex-moov i {
    
    
  }
  
  .flex-moov {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .field input{
    text-align: center;
    display: flex;
    align-items: center;
    outline: none;
    padding: 2em;
    letter-spacing: 1px;
    font-size: 20px;
  }

  .field{
    display: flex;
    justify-content: space-around;
  }
  
  main{
    padding: 2em;
  }
  
  main h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #003773;
    margin-bottom: 1.0em;
    margin-left: 2em;
  }
  
  #p{
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.4em;
  color:#003773;
  text-align: center;
  }
  
  .icon {
    padding: 0.38em;
    background-color: gray;
    cursor: pointer;
  }
  
  .input-field {
    width: 100%;
    padding: 1em;
    text-align: center;
  }
  
  #text{
    padding-right: 4em;
    padding-top: 1em; 
  }
  
  span{
  padding-left: 0.2em;
  font-size: 0.4em;
  margin-top: 1em;
  background-color: gray;
  
  }
  
  button{
    background-color: #003773;
    border: 1px solid #003773;
    text-align: center;
    color: #ffffff;
    margin-top: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
  }
  
  button:hover{
    border:2px solid #003773;
  }
  
   
  
  
   @media screen and (max-width: 768px) {
      p{
        margin-left: 3em;
      }
  
      main h2{
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0.8em; 
      }
  
      .icon {
        padding: 0.39em;
        width: 2em; 
        margin-left: 16.0em;
  
      }
      
    }
  
    @media screen and (max-width: 600px) {
      p{
        margin-left: 1em;
      }
      main h2{
        font-size: 1.2rem;
        text-align: center;
        margin-left: 0.8em; 
      }
      .icon {
        padding: 0.39em;
        width: 2em; 
        margin-left: 11.2em;
      }
    }
      
    
  
    @media screen and (max-width: 425px) {
          .container {
    width: 90%;
    margin: auto;
    scroll-behavior: smooth;
    margin-top: 11%;
  
  }
      p{
        /* margin-left: 1em; */
        font-size: small;
        margin-left: 7em;
      }
      main h2{
        font-size: 1.4rem;
        text-align: center;
        margin-left: 0.8em; 
      }
      .icon {
        padding: 0.39em;
        width: 2em; 
        margin-left: 14.3em;
      }
    }
      
    @media screen and (max-width: 375px) {
      p{
        margin-left: 4.6em;
      }
      main h2{
        font-size: 1.4rem;
        text-align: center;
        margin-left: 0.8em; 
      }
      .icon {
        padding: 0.39em;
        width: 2em; 
        margin-left: 11.5em;
      }
    }
      
    @media screen and (max-width: 320px) {
      p{
        margin-left: 3.5em;
      }
      main h2{
        font-size: 1.4rem;
        text-align: center;
        margin-left: 0.8em; 
      }
      .icon {
        padding: 0.39em;
        width: 2em; 
        margin-left: 8.3em; 
      }
    }
    