@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

header {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20.7px;
  width: 147px;
  height: 35.26px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  top: 8px;
  left: 16px;
}

.options {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.0025em;
  color: #003773;
}

#login {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #003773;
  background: white;
  border: 1px solid #003773;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 125px;
  height: 56px;
}

#sign_up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  padding: 8px;
  gap: 8px;
  width: 166px;
  height: 56px;
  background: #ee6c4d;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #f9f9f9;
  width: 166px;
  height: 56px;
}

.sign_in_reg {
  display: flex;
  flex-direction: row;
}

h4 {
  width: auto;
  height: 36px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-top: 52px;
  margin-left: 96px;
  letter-spacing: 0.0025em;
  color: #003773;
}

.tab{
    float:left;
    width:auto;
    border-bottom:6px solid #D9EBFF;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 10px;
    padding:8px 16px;
}

.tab_row{
    content:"";
    display:table;
    clear:both;
    margin-left: auto;
    margin-right: auto;
}

.single{
    min-height: 400px;
}

.blue-line{
    border-color:#003773;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.footerDiv {
  display: flex;
  flex-direction: row;
}

.innerFooterDiv {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.bottom_links{
    margin-left: 420px;
    display: flex;
    flex-direction: row;
}

#reserved {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 450px;
  height: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.0025em;
  color: #003773;
}

#logo_bottom {
    width: 103.01px;
    height: 20px;
    padding-bottom: 20px;
}

.sub_topic2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 930px;
  height: 89px;
  background: #f2f8ff;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 43px;
  margin-left: 43px;
}

.sub_topic2 p {
  width: auto;
  height: 43px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  letter-spacing: 0.0025em;
  color: #003773;
}

.div1 {
  display: flex;
  flex-direction: row;
}

.qAndA p {
  width: auto;
  margin-left: 43px;
  margin-right: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #003773;
}