* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  
  body {
    width: 100%;
    font-family: "Lato";
    font-style: normal;
  }
  
  main {
    justify-content: center;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    width: 95%;
  }
  
  section.forget > h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
  
    letter-spacing: 0.0025em;
    color: #003773;
    margin-bottom: 0.5rem;
  }
  
  section.forget > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    margin-bottom: 2rem;
    /* Color Style/Neutral/Darker */
  
    color: #202020;
  }
  form {
    width: 100%;
    display: inline-grid;
  }
  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0025em;
  
    /* Color Style/Neutral/Darker */
  
    color: #202020;
    width: 100%;
    padding: 0.5rem;
    padding-left: 0;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    /* Color Style/Primary Blue/Dark :active */
  
    color: #003773;
    font-family: "Nunito Sans";
    font-style: normal;
  }
  
  input::placeholder {
    color: #003773;
  }
  
  input[type="submit"] {
    color: #f9f9f9;
    border: none;
    width: 8rem;
    background-color: #ee6c4d;
  
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-bottom: 5rem;
  }
  
  .button {
    text-align: center;
  }