@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
}
body {
    height: 100vh;
}
.mobile {
    display: block;
    margin-bottom: 2rem;
}
h2,p, label, input, input::placeholder{
    color: #003773;
}
main.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90vw;
    flex-direction: column;
    margin: 0 auto;
}
header {
    margin-bottom: 2rem;
}
section.register {
    padding: 2rem 0 0;
}
main.registration-form {
    width: 85vw;
    margin: 0 auto;
}
h2 {
    margin-bottom: .5rem;
}
main.registration-form > p {
    margin-bottom: 2.3rem;
}
input {
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border: solid 1px;
}
div.mobile > p{
    font-size: 12px;
}
div.alt-sign-in {
    position: absolute;
    bottom: -7rem;
    left: 29vw;
    text-align: center;
}
div.alt-sign-in > p {
    margin-bottom: 1rem;
}
div.subscription,
div.privacy {
    display: grid;
    grid-template-columns: 1.5rem 16rem;
    font-size: .7rem;
}
input[type = "checkbox"] {
    width: 80%;
}
div.other-options {
    width: 7rem;
    margin: 0 auto;
}
input[type = "submit"] {
    display: block;
    width: 7rem;
    margin: 0 auto;
    background-color: #ee6c4d;
    color: #f9f9f9;
    cursor: pointer;
    border: none;
    padding: .5rem 1rem;
}
.desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    div.logo {
        margin-bottom: 4rem;
    }
    main.registration-form {
        width: 50vw;
    }
    div.privacy,
    div.subscription {
        grid-template-columns: 1.5rem 19.5rem;
    }
    div.alt-sign-in {
        left: 39vw;
    }
}

@media screen and (min-width: 1024px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    main.wrapper {
        flex-direction: row;
        position: relative;
    }
    section.register {
        margin-bottom: 6rem;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    main.registration-form > p {
        margin-bottom: 1.3rem;
    }
    input {
        width: 60%;
    }
    div.alt-sign-in {
        position: unset;
        text-align: start;
        margin-bottom: 1.3rem;
    }
    div.other-options {
        margin: 0;
    }
    input[type = "submit"]{
        width: 10rem;
        margin: 0;
    }
    form {
        position: relative;
    }
    form > img.desktop {
        position: absolute;
        bottom: 0rem;
        right: 7rem;
    }
    section.sign-in {
        background-color: #002B59;
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 5rem;
        color: #fff
    }
    section.sign-in > p {
        color: #fff;
        width: 23rem;
        margin-bottom: 2rem;
    }
    section.sign-in > a {
        color: #fff;
        border: solid 1px #fff;
        width: 11rem;
        padding: .5rem 1rem;
        margin: 0 auto;
        text-decoration: none;
    }
    h3 {
        margin-bottom: .5rem;
    }
}